pyyaml
ansible
ansible-lint
# Documentation https://ansible-runner.readthedocs.io/en/stable/
# ansible-runner
ansible-rulebook
#
#  The following error when building in the VS Code docker container, but not on Ubuntu
#
# azure-servicebus
# aiobotocore
# aiohttp
# aiokafka
# watchdog
# systemd-python
# dpath
#
requests